body, html {
    margin: 0;
    height: 100%;
    font-family: 'Neucha', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    padding: 0.5rem;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 3px groove black;
    position: relative;
    background-image: linear-gradient(to bottom, #1e73be72, #a9a9a968);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    /* height: 75%; */
    /* min-height: 100vh; */
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0;
}

ol#highscores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px;
}

ol#highscores li {
    margin: 0.5rem 0;
    padding: 5px;
    border: solid 1px;
    background-color: lightcoral;
    border-radius: 6px;
}

.intro {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.scores {
    margin-left: 10px;
    color: whitesmoke;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Neucha', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

.scores:hover {
    background-color: #0056b3;
    font-family: 'Neucha', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

.div-timer {
    margin-right: auto;
    text-align: right;
    flex: 1;
}

#start {
    font-family: 'Neucha', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    background-color: #233142;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    color: whitesmoke;
}

#start:hover {
    background-color: lightcoral;
}

#highscores {
    text-align: left;
    font-size: 19px;
}

#howplay {
    text-align: center;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: lightcoral;
}

#clear {
    font-family: 'Neucha', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    background-color: #233142;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    color: whitesmoke;
}

#clear:hover {
    background-color: #f95959;
}

#back {
    font-family: 'Neucha', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    background-color: #233142;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    color: whitesmoke;
    margin: 5px;
}

#back:hover {
    background-color: #f95959;
}

.button-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 3px groove black;
    position: relative;
    background-image: linear-gradient(to bottom, #1e73be72, #a9a9a968);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 75%;
}

.hscore-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 3px groove black;
    position: relative;
    background-image: linear-gradient(to bottom, #1e73be72, #a9a9a968);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    /* height: 75%; */
    /* min-height: 100vh; */
}

#submit-score {
    font-family: 'Neucha', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    background-color: #233142;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    color: whitesmoke;
    margin: 5px;
}

#submit-score:hover {
    background-color: #f95959;
}

#initials {
    font-family: 'Neucha', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    border-radius: 6px;
    padding: 5px;
    cursor: pointer;
    border: none;
    color: black;
    margin: 5px;
    border: 1.5px solid black;
}

div.options#options button{
    font-size: 16px;
    background-color: #233142;
    color: whitesmoke;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    min-width: 150px;
    text-align: center;
}

div.options#options button:hover {
    background-color: lightcoral;
}

@media screen and (max-width: 768px) {
    .container {
        margin-top: 0;
}
}

@media screen and (max-width: 480px) {
    .container {
        margin-top: 0;
    }
}
