body, html {
    margin: 0;
    padding: 25px;
    height: 100%;
    font-family: 'Neucha', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 3px groove black;
    position: relative;
    background-image: linear-gradient(to bottom, #1e73be72, #a9a9a968);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55%;
}

