/* Reset margin and padding on body and HTML elements */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Neucha', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Apply styles to the container to wrap all content */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 3px groove black;
    position: relative;
    background-image: linear-gradient(to bottom, #1e73be72, #a9a9a968);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 55%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/* Style the "View High Scores" button */
.scores {
    margin-left: 10px; /* Adjust as needed */
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.scores:hover {
    background-color: #0056b3;
}

/* Style the timer on the right */
.div-timer {
    margin-right: 10px; /* Adjust as needed */
    text-align: right;
    flex: 1; /* Take up available space to push items to the sides */
}

/* Rest of your existing CSS styles */
