* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 200px;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: 'Neucha', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    font-weight: 100;
    background-image: linear-gradient(to bottom right, #ccd3d2, #f2f1ef);
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 25px;
}